@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none !important;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.thumb {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('../../public/assets/fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../../public/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../../public/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../../public/assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../../public/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.Inter-Light {
  font-family: "Inter-Light" !important;
}

.Inter-Bold {
  font-family: "Inter-Bold" !important;
}

.Inter-Regular {
  font-family: "Inter-Regular" !important;
}

.Inter-SemiBold {
  font-family: "Inter-SemiBold" !important;
}

.Inter-Medium {
  font-family: "Inter-Medium" !important;
}

.image {
  background-image: url(../../public/assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.flat {
  background-image: url(../../public/assets/images/3d.avif);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .black {
  background-image: url(../../public/assets/images/view.avif);
  background-size: cover;
  background-repeat: no-repeat;
} */